{% extends "user_default.html" %} {% block title %}Professor Info{%endblock%} {%
block header %}
<link
  href="{{ url_for('static', filename='css/main.css') }}"
  rel="stylesheet"
/>

{% endblock %} {%block content%}

<div class="container">
  <div class="card mt-5 mb-5">
    <div class="card-heading border bg-dark text-light py-4 px-2">
      <h2 class="title text-center">Cart</h2>
    </div>
    <div class="card-body">
      <div>
        {% with messages = get_flashed_messages(with_categories=true) %} {% if
        messages %} {% for category, message in messages %}
        <div
          class="alert alert-{{ category }} alert-dismissible fade show"
          role="alert"
        >
          <span>{{ message }}</span>
        </div>
        {% endfor %} {% endif %} {% endwith %} {% if cartinfo != [] %}
        <div class="table-responsive">
          <table class="table table-bordered w-200">
            <thead class="thead-dark">
              <tr>
                <th scope="col">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control text-center"
                      value="Product ID"
                      readonly
                    />
                  </div>
                </th>
                <th scope="col">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control text-center"
                      value="Product Name"
                      readonly
                    />
                  </div>
                </th>
                <th scope="col">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control text-center"
                      value="Product Price"
                      readonly
                    />
                  </div>
                </th>

                <th scope="col">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control text-center"
                      value="Stock Status"
                      readonly
                    />
                  </div>
                </th>
              </tr>
            </thead>
            <tbody id="tbody">
              {% for product in cartinfo %}
              <tr>
                <td scope="row">
                  <div class="form-group">
                    <input
                      type="text"
                      name="productID"
                      class="form-control text-center"
                      value="{{product[0]}}"
                      readonly
                    />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input
                      type="text"
                      name="productName"
                      class="form-control text-center"
                      value="{{product[1]}}"
                      readonly
                    />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input
                      type="text"
                      name="productPrice"
                      class="form-control text-center"
                      value="{{product[2]}}"
                      readonly
                    />
                  </div>
                </td>

                <td>
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control bg-danger text-white text-center"
                      value="Remove Product"
                      readonly
                    />
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
            <tfoot class="text-center">
              <tr>
                <td colspan="2" class="text-end">Total</td>
                <td colspan="1" class="text-center">{{Total}}</td>
                <td class="text-center"></td>
              </tr>
              <tr>
                <td colspan="3"></td>
                <td colspan="1">
                  <form action="/cart" method="POST">
                    <button
                      type="submit"
                      class="form-control bg-success text-white"
                      name="action"
                      value="BuyItems"
                    >
                      Purchase
                    </button>
                  </form>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
        {% else %}
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-body cart">
                  <div class="col-sm-12 empty-cart-cls text-center">
                    <img
                      src="{{ url_for('static', filename='images/logo-cart.png') }}"
                      width="130"
                      height="130"
                      class="img-fluid mb-4 mr-3"
                    />
                    <h3><strong>Your Cart is Empty</strong></h3>
                    <h4>Add something to make me happy :)</h4>
                    <a
                      href="/"
                      class="btn btn-primary cart-btn-transform m-3"
                      data-abc="true"
                      >continue shopping</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{%endblock%}
